librosa==0.8.1
moviepy==1.0.3
natsort==7.1.1
pandas==1.3.0
pysbd==0.3.4
symspellpy==6.7.0
texthero==1.1.0
torch~=1.9.0
transformers==4.8.2
wordninja==2.0.0
yake==0.4.8
pyspellchecker>=0.6.2
spellchecker>=0.4
openpyxl >=3
tqdm>=4.61.2